body{
    font-family: sans-serif;
}
nav{
    background-color: rgb(9, 163, 198);
    float: left;
    width: 30%;
    height: 600px;
    box-shadow: 5px 0px 20px gray;
    color: #fff;
    transition: width 1s;
    overflow: hidden;
}
nav li{
    list-style: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
}
nav li:hover{
    background-color: steelblue;
    cursor: pointer;
}
ul{
    padding: 0px;
}


div{
    padding: 10px;
}
input[type="text"], input[type="email"], input[type="datetime-local"]{
    width: 100%;
}
h1{
    text-align: center;
}
form{
    width: 70%;
    margin: auto;
}
.centro{
    text-align: center;
}
button{
   
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    background-color: rgb(9, 163, 198);
}
main{
    float: right;
    width: 70%;
    transition: width 1s;
}
.menuFechar{
    width: 20px;
    opacity: 0px;
}
.menuAbrir{
    width: 20px;
    opacity: 0px;
}
.menuAberto{
    width: 30%;
}


@media(max-width: 600px){
    nav{
        width: 0%;
    }
    main{
        width: 100%;
    }
    .menuFechar{
        opacity: 1px;
    }
    .menuAbrir{
        opacity: 1px;
    }
}

